.sidebar {
  background: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;

  @media (max-width: $bp-largest) {
    grid-row: 1/2;
  }
}

.nav-btn {
  width: 4.5rem;
  height: 2px;
  background: #fff;
  border: 0;
  outline: none;
  margin-top: 2.5rem;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 4.5rem;
    height: 2px;
    background: #fff;
  }

  &::before {
    transform: translateY(-1rem);
  }

  &::after {
    transform: translateY(1rem);
  }
}