.story {
  &__images {
    background: $color-primary;
    grid-column: full-start/col-end 4;
  }

  &__content {
    background: $color-grey-light-1;
    grid-column: col-start 5/ full-end;

    display: flex;
    flex-direction: column;
    padding: 4rem 8rem;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }

  &__text{
    font-size: 1rem;
    line-height: 1.5;
    font-style: italic;
    font-weight: 200;
    color: $color-grey-dark-2;
  }
}